__pycache__
testdata
.gitignore.swp
.DS_Store
arrayfortetra.json
test.nes
Zelda1.nes
Zelda1r.nes
Zelda1r2.nes
Zelda1r3.nes
Zelda1r4.nes
Zelda1r5.nes
Zelda1r6.nes
Zelda1r7.nes
.vs/slnx.sqlite
.vs/tasks.vs.json
.vs/VSWorkspaceState.json
.vs/z1r-visualizer/config/applicationhost.config
.vs/z1r-visualizer/FileContentIndex/3c07682a-cb19-448f-845f-24099bd96a76.vsidx
.vs/z1r-visualizer/FileContentIndex/4bc2e71a-ae1c-4021-b39c-1fc9ff82e241.vsidx
.vs/z1r-visualizer/FileContentIndex/9ca1a831-e208-4ea0-8c15-4ea9d46c8500.vsidx
.vs/z1r-visualizer/FileContentIndex/780eb84b-130e-45d6-9d31-9e081500cfde.vsidx
.vs/z1r-visualizer/FileContentIndex/a2141740-757a-4b6f-809d-45067caab099.vsidx
.vs/z1r-visualizer/FileContentIndex/ad4ab0c5-f604-4e03-baf1-dff59e552856.vsidx
.vs/z1r-visualizer/v17/.wsuo
.vs/z1r-visualizer/v17/DocumentLayout.backup.json
.vs/z1r-visualizer/v17/DocumentLayout.json
.vscode/launch.json
Zelda1r8.nes
.gitignore
